@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 13px;

  background-image: url(images/bg-pattern-top-mobile.svg),
    url(images/bg-pattern-bottom-mobile.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;

  text-align: center;
}

h1 {
  color: var(--very-dark-magenta);
}

p {
  font-size: 15px;
  color: var(--dark-grayish-magenta);
}

.rating {
  background-color: var(--light-grayish-magenta);
  border-radius: 8px;

  color: var(--very-dark-magenta);
  font-weight: 700;

  margin-top: 10px;
  padding: 10px;
}

.rating__star {
  display: inline-block;

  margin-bottom: 10px;

  width: 85px;
  height: 16px;
  background-image: url("images/icon-star.svg");
}

.review {
  border-radius: 8px;
  background-color: var(--very-dark-magenta);

  text-align: left;
  color: var(--light-grayish-magenta);

  padding: 20px;
  margin-top: 10px;
}

.review:first-of-type {
  margin-top: 30px;
}

.review p {
  color: var(--light-grayish-magenta);
  font-size: 12px;
  margin-top: 30px;
}

.review__header {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

div.review:nth-of-type(1) div.profile-picture {
  background-image: url("images/image-colton.jpg");
}

div.review:nth-of-type(2) div.profile-picture {
  background-image: url("images/image-anne.jpg");
}

div.review:nth-of-type(3) div.profile-picture {
  background-image: url("images/image-irene.jpg");
}

.name {
  font-weight: bold;
  margin-left: 20px;
}

.review__header span {
  font-weight: normal;
  color: var(--dark-grayish-magenta);
}
